[Unit]
Description=PPP Client Service
After=network.target

[Service]
ExecStart=/opt/ppp/ppp --mode=server > ./ppp.log
WorkingDirectory=/opt/ppp
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
